---
---

<section id="about" class="section about-section">
  <h2>About</h2>
  <p class="about-text">
    I am a fullstack developer specialized in engineering robust, high-performance backend systems with Golang and TypeScript. With 3+ years of experience building and shipping production-ready applications, I focus on writing code that is <span style="text-decoration: underline; font-weight:600;">clean, intentional, and built to last.</span>
  </p>
</section>
