---
const EMAIL = "iamtbay@gmail.com";
---


<section id="contact" class="section">
  <h2>Contact</h2>
  <p>Interested in working together?</p>
  <a href={`mailto:${EMAIL}`} class="link-styled">{EMAIL}</a>
</section>
