
<header class="header">
  <nav class="nav">
    <a href="#hero" class="logo">Talha Bay</a>
    <ul class="nav-links">
      <li><a href="#work">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
